html,
body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  word-break: keep-all;
}

#app {
  position: relative;
}

section {
  max-width: 1200px !important;
  width: 100% !important;
  margin: auto;
}

main {
  flex-grow: 1;
  height: calc(100vh - 240px);
}