footer {
    max-width: 450px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid white;

    h6 {
        font-size: 25px !important;
        font-weight: 800 !important;
        color: black;
    }
}