.tech-section {
    .stack-box {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;

        .box {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 10px;

            .stackItem {
                position: relative;
                padding: 10px;
                background-color: #eee;
                cursor: pointer;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                max-height: 60px;
                /* height 대신 max-height 사용 */
                border-radius: 16px;
                box-sizing: border-box;
                overflow: hidden;
                transition: max-height 0.1s ease-in-out;
                will-change: max-height, box-shadow;
                /* 성능 최적화를 위한 will-change 추가 */

                .title {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 10px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }

                .description {
                    color: black;
                    white-space: normal;
                    opacity: 0;
                    overflow: hidden;
                    transition: opacity 0.3s ease-in-out;
                    transform: translateY(10px);
                }

                &:hover {
                    z-index: 10;
                    max-height: 170px;
                    /* height 대신 max-height 변경 */
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }

                &:hover .description {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}