.tech-section {
    .stack-box {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        gap: 20px;

        .box {
            width: 100%;
            max-width: 800px;
            min-width: 400px;

            .skill-box {
                margin: 10px;
                padding: 10px;
                background-color: #ccc;
                color: #fff;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                .skill-box:hover .description {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}