.scroll__pageupbtn {
    width: 30px !important;
    min-width: 30px !important;
    position: fixed !important;
    right: 100px;
    bottom: 30px;
    height: 30px;
    background-color: white !important;
    z-index: 99;
}

@media (max-width:1350px) {
    .scroll__pageupbtn {
        right: 50px;
    }
}